*{
	margin:0;
	padding:0;
}

#wrapper{
	height:672px;
}

#container{
	position:absolute;
	background-color:grey;
	padding:30px;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	-webkit-box-shadow:0px 1px 0px #2b638f, 0px 3px 15px rgba(0,0,0,.4);
	-moz-box-shadow:0px 1px 0px #2b638f, 0px 3px 15px rgba(0,0,0,.4);
	box-shadow:0px 1px 0px #2b638f, 0px 3px 15px rgba(0,0,0,.4);
}
.title{
	font-family:Castellar; 
	padding-bottom:20px; 
	color:#fefefe;
	border-bottom:1px solid;
}
#form td{
	padding:10px;
	font-size:18pt;
	text-align:center;
	font-family:Helvatica, Arial, sans-serif;
	color:#fefefe;
}

.output{
	padding:5px;
	font-size:14pt;
	border-radius:10px;
	width:300px;
}

.login{
	width:80%;
	padding:5px;
	font-size:16pt;	
	-webkit-border-radius:10px;
	-webkit-box-shadow:0px 3px 0px #2b638f, 0px 3px 15px rgba(0,0,0,.4);
	-moz-box-shadow:0px 3px 0px #2b638f, 0px 3px 15px rgba(0,0,0,.4);
	box-shadow:0px 3px 0px #2b638f, 0px 3px 15px rgba(0,0,0,.4);
}

.login:hover{
	background-color:lightblue;
	color:#fefefe;
	cursor:pointer;
}